* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2c003e;
    color: #e1bee7;
    line-height: 1.6;
}

header {
    background-color: rgba(35, 9, 41, 0.644);
    color: #e1bee7;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-left: 2rem;
}

header nav ul li a {
    color: #e1bee7;
    text-decoration: none;
    font-size: 1.1rem;
}

.hero {
    background: linear-gradient(145deg, #7e1f8e, #9c4d9e);
    color: #e1bee7;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
}

section {
    padding: 4rem 20px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ba68c8;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: #5e0072;
    color: #e1bee7;
    text-decoration: none !important;
    border-radius: 10px;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}





.project-card:hover, .project-card a:hover {
    transform: scale(1.05);
  }

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    background-color: #7e1f8e;
    color: #e1bee7;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.social-icon:hover {
    background-color: #9c4d9e;
}

footer {
    text-align: center;
    background-color: #5e0072;
    color: #e1bee7;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
